.homepage {
    text-align: center;
    padding: 20px;
    background-color: 	#654321;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 100;
    line-height: 1%;
    letter-spacing: 1%;
    text-decoration: none;
    text-transform: none;
    display: block;
    flex-direction: column;
}



.about {
    text-align: center;
    padding: 20px;
    background-color: 	#654321;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 100;
    line-height: 1%;
    letter-spacing: 1%;
    text-decoration: none;
    text-transform: none;
    display: block;
    flex-direction: column;
}


.contact {
    text-align: center;
    padding: 20px;
    background-color: 	#654321;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 100;
    line-height: 1%;
    letter-spacing: 1%;
    text-decoration: none;
    text-transform: none;
    display: block;
    flex-direction: column;
}


.services {
    text-align: center;
    padding: 20px;
    background-color: 	#654321;
    font-family: 'Roboto', sans-serif;
     font-size: 1em;
    font-weight: 100;
    line-height: 1%;
    letter-spacing: 1%;
    text-decoration: none;
    text-transform: none;
    display: block;
    flex-direction: column;
}

.profile {
    text-align: center;
    padding: 20px;
    background-color: 	#654321;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 100;
    line-height: 1%;
    letter-spacing: 1%;
    text-decoration: none;
    text-transform: none;
    display: block;
    flex-direction: column;
}
.footer {
    text-align: center;
    padding: 20px;
    background-color: #DAA520;
    font-family: 'Roboto', sans-serif;
     font-size: 1rem;
    font-weight: 100;
    line-height: 1%;
    letter-spacing: 1%;
    text-decoration: none;
    text-transform: none;
}
.header {
    background-color: #654321;
    padding: 5%;
    text-align: left;
    color: #DAA520;
    font-family: 'Roboto', sans-serif;
}
.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #DAA520;
    font-family: 'Roboto', sans-serif;
}
.header li {
    display: block;
    margin-bottom: 10px;
    color: #DAA520;
    font-family: 'Roboto', sans-serif;
     font-size: 1rem;
    font-weight: 100;
    line-height: 1%;
    letter-spacing: 1%;
    text-decoration: none;
    text-transform: none;
}
.header a {
    text-decoration: none;
    color: #DAA520;
    font-family: 'Roboto', sans-serif;
     font-size: 1rem;
    font-weight: 100;
    line-height: 1%;
    letter-spacing: 1%;
    text-decoration: none;
    text-transform: none;
}
.main {
    background-color: beige;
    font-family: 'Roboto', sans-serif;
     font-size: 1rem;
    font-weight: 100;
    line-height: 1%;
    letter-spacing: 1%;
    text-decoration: none;
    text-transform: none;
   
}


